node_modules
*.vsix
.DS_Store
.idea
dist/
test-workspace/
.vscode-test/
*.wasm
!tree-sitter-fift/tree-sitter-fift.wasm
!tree-sitter-tact/tree-sitter-tact.wasm

# tests
server/src/e2e/out

# yarn
yarn-error.log
.yarn/

# eslint
.eslintcache

# coverage
coverage/
